@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Tailwind Section */

@layer components {
    .container {
        @apply max-w-5xl mx-auto;
    }

    .button {
        @apply cursor-pointer transition-all duration-300 rounded-full px-4 py-1 tracking-[1px];
    }
}

/* Normal CSS */

*,
*::after,
*::before {
    box-sizing: border-box;
}

* {
    line-height: normal;
}

body {
    scroll-behavior: smooth;
}

[data-slide] {
    opacity: 0;
    transition: all 0.3s ease, transform 1s ease, opacity 1s ease;
}

[data-slide="left"] {
    transform: translateX(4rem);
}
[data-slide="right"] {
    transform: translateX(-4rem);
}
[data-slide="up"] {
    transform: translateY(4rem);
}
[data-slide="down"] {
    transform: translateY(-4rem);
}

[data-slide].i\:open {
    opacity: 1;
    transform: translate(0, 0);
}
