@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

/* Tailwind Section */

@layer components {
    .container {
        @apply max-w-5xl mx-auto;
    }

    .button {
        @apply cursor-pointer transition-all duration-300 rounded-full px-4 py-1 tracking-[1px];
    }

    .link {
        @apply hover:text-primary-300 duration-100 transition-all hover:underline;
    }

    .no-slide {
        @apply translate-x-0 translate-y-0;
    }

    .swiper-pagination-bullet-active {
        @apply bg-secondary-200;
    }

    .swiper-pagination-bullet {
        @apply bg-secondary-200 bg-opacity-50 w-[.6rem] h-auto aspect-square phone:w-[.4rem];
    }

    .codewar__solved-katas .swiper-pagination {
        @apply translate-y-[140%];
    }

    .circle-decoration {
        @apply aspect-square rounded-full z-[-9999] delay-500 transition-all duration-500;
    }

    .project__slide :is(.swiper-button-next, .swiper-button-prev) {
        @apply phone:hidden;
    }

    .project__slide .swiper-pagination-bullet {
        @apply w-6 phone:w-2;
    }
}

/* Normal CSS */

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.codewar__solved-katas :is(.swiper-button-next, .swiper-button-prev) {
    margin-inline: -10rem;
}

:is(.swiper-button-next, .swiper-button-prev) {
    @apply text-white backdrop-blur-xl p-6 rounded-md border-2 border-black backdrop-brightness-50;
}

/* .swiper-pagination-bullet {
    background-color: rgb(175 75 103 / 0.5); 
    overflow: hidden;
    width: 0.6rem;
    height: 0.6rem;
    aspect-ratio: 1/1;
}

.swiper-pagination-bullet-active {
    background-color: rgb(175 75 103);
} */

[data-slide]:not(.no-slide) {
    opacity: 0;
    transition: all 0.3s ease, transform 1s ease, opacity 1s ease;
}

[data-slide="left"] {
    transform: translateX(4rem);
}
[data-slide="right"] {
    transform: translateX(-4rem);
}
[data-slide="up"] {
    transform: translateY(4rem);
}
[data-slide="down"] {
    transform: translateY(-4rem);
}

[data-slide]:not(.no-slide).i\:open {
    opacity: 1;
    transform: translate(0, 0);
}
